Consumir_SAP_WS/Web References/sapdev/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZFICL_CONTRATO">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZFICL_CONTRATO_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_zficl_contrato">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>52DE0906B2A442F0E10080000A028132</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZficlContrato">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZficlDatos">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Bukrs" type="tns:char4" />
          <xsd:element name="Tipocon" type="n0:char10" />
          <xsd:element name="Contrato" type="n0:char10" />
          <xsd:element name="Nit" type="n0:char16" />
          <xsd:element name="Tiponit" type="tns:char2" />
          <xsd:element name="Nombre1" type="n0:char30" />
          <xsd:element name="Nombre2" type="n0:char30" />
          <xsd:element name="Apell1" type="n0:char30" />
          <xsd:element name="Apell2" type="n0:char30" />
          <xsd:element name="Dir" type="n0:char30" />
          <xsd:element name="Telef" type="n0:char16" />
          <xsd:element name="Email" type="n0:char132" />
          <xsd:element name="Ciudad" type="n0:char25" />
          <xsd:element name="Depben" type="n0:char10" />
          <xsd:element name="Deprec" type="n0:char10" />
          <xsd:element name="ValorSiniva" type="n0:decimal23.4" />
          <xsd:element name="Iva" type="tns:decimal23.4" />
          <xsd:element name="Fecini" type="n0:date10" />
          <xsd:element name="Fefin" type="n0:date10" />
          <xsd:element name="Region" type="tns:char3" />
          <xsd:element name="Pais" type="tns:char3" />
          <xsd:element name="Augbl" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapireturn1">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="tns:char20" />
          <xsd:element name="Number" type="tns:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZficlDatos">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZficlDatos" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapireturn1">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapireturn1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZficlContrato">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItDatos" type="tns:TableOfZficlDatos" />
            <xsd:element name="ItReturn" type="tns:TableOfBapireturn1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZficlContratoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ItDatos" type="tns:TableOfZficlDatos" />
            <xsd:element name="ItReturn" type="tns:TableOfBapireturn1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char132">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="132" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZficlContrato">
    <wsdl:part name="parameters" element="tns:ZficlContrato" />
  </wsdl:message>
  <wsdl:message name="ZficlContratoResponse">
    <wsdl:part name="parameter" element="tns:ZficlContratoResponse" />
  </wsdl:message>
  <wsdl:portType name="zficl_contrato">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem applicationComponent="FI" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_zficl_contrato" />
    </wsp:Policy>
    <wsdl:operation name="ZficlContrato">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZficlContrato" />
      </wsp:Policy>
      <wsdl:input message="tns:ZficlContrato" />
      <wsdl:output message="tns:ZficlContratoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZFICL_CONTRATO" type="tns:zficl_contrato">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZFICL_CONTRATO" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZficlContrato">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:zficl_contrato:ZficlContratoRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZFICL_CONTRATO_SOAP12" type="tns:zficl_contrato">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZFICL_CONTRATO_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZficlContrato">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:zficl_contrato:ZficlContratoRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZFICL_CONTRATO">
    <wsdl:port name="ZFICL_CONTRATO" binding="tns:ZFICL_CONTRATO">
      <soap:address location="http://sapbdp.grupo-exito.com:8001/sap/bc/srt/rfc/sap/zficl_contrato/400/zficl_contrato/zficl_contrato" />
    </wsdl:port>
    <wsdl:port name="ZFICL_CONTRATO_SOAP12" binding="tns:ZFICL_CONTRATO_SOAP12">
      <wsoap12:address location="http://sapbdp.grupo-exito.com:8001/sap/bc/srt/rfc/sap/zficl_contrato/400/zficl_contrato/zficl_contrato" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>